.accordion_menu {
  li {
    list-style: none;
    margin-bottom: 30px;
    cursor: pointer;
    h6 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #ECCCB8;
      font-size: 1.5rem;
      &:after {
        content: '+';
        font-size: 1.5rem;
        margin-left: 50px;
        color: #F39369;
        width: 20px;
        display: block;
      }
    }
    p {
      max-height: 0;
      overflow: hidden;
      transition: all 0.4s;
      line-height: 1.2;
    }

    &.active {
      h6 {
        &:after {
          content: '-';
        }
      }
      p {
        margin-top: 1rem;
        max-height: 300px;
      }
    }

  }
}
