header {
  margin-bottom: 150px;
  padding-top: 50px;

  .mainmenu {
    display: none;

    > ul {
      > li {
        a {
          color: #FFF;
          font-size: 20px;
          text-decoration: none;
        }
      }
    }
  }

  #mobileMenu{
    width: 40px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 10;

    span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: #FFFFFF;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      &:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      &:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    }
  }

  .open {

    .mainmenu {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $body_backgroud;
      padding: 70px 25px 25px;
      > ul {
        > li {
          position: relative;
          margin-top: 18px;
          list-style: none;

          .submenu {
            padding-left: 25px;

            li {
              list-style: none;
              margin-top: 18px;
            }
          }
        }
      }
    }

    #mobileMenu span
    {
      &:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 26px;
        left: 8px;
      }
    }
  }

}

#header_logo {
  max-width: 288px;
  height: auto;
  width: 20%;
  display: block;
}

@media(min-width: 768px) {
  header {
    #mobileMenu {
      display: none;
    }

    .mainmenu {
      display: block;
      > ul {
        display: flex;
        > li {
          margin-right: 34px;
          margin-top: 0;
          list-style: none;
          &:last-child {
            margin-right: 0;
          }

          .submenu {
            display:none;
            position: absolute;
            padding-left: 0;
            li {
              list-style: none;
              margin-top: 18px;
              white-space: nowrap;
            }
          }

          &:hover {
            .submenu {
              display:block;
            }
          }

        }
      }
    }
  }
}
