.home {
  background-image:
          url(../images/Header.png),
          url(../images/Right_Element.png),
          url(../images/Left_Element.png),
          url(../images/Footer.png);
  background-position:
          top right,
          top 30% left,
          top 60% right,
          bottom left;
  background-size: 80% auto, contain, contain, contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block-left {
  max-width: 780px;
}

.block-center {
  max-width: 840px;
  margin: auto;
}

.block-right {
  max-width: 780px;
  margin-left: auto;
}
