.team_member {
  margin-bottom: 200px;
  img {
    max-width: 177px;
    border-radius: 20px;
    margin-right: 60px;
  }
  h5 {
    margin-bottom: 25px;
  }
  h6 {
    color: #ECCCB8;
  }
  p {
    margin-top: 25px;
    color: #ECCCB8;
    font-size: 15px;
    line-height: 1.2;
  }
}
